In [17]:
'''
Himanshu Shukla
2022H1030107P
ME 2nd year
'''

'\nHimanshu Shukla\n2022H1030107P\nME 2nd year\n'

In [18]:
import pandas as pd

In [19]:
#Read Data and Create DataFrame
csv_file_path = 'pincode.csv'
data_frame=pd.read_csv(csv_file_path,low_memory=False)
num_rows, num_cols=data_frame.shape #counting the rows and columns
print(f"rows are {num_rows} columns are {num_cols}")

rows are 157126 columns are 11

In [20]:
#listing the column names
column_names=data_frame.columns.tolist()
print(f"column names are: ")
for index,col in enumerate(column_names):
    print(f"\033[1m {index+1}: {col} \033[0m") # printing in Bold

column names are:
 1: CircleName
 2: RegionName
 3: DivisionName
 4: OfficeName
 5: Pincode
 6: OfficeType
 7: Delivery
 8: District
 9: StateName
 10: Latitude
 11: Longitude

In [21]:
num_rows_missing = data_frame.isnull().any(axis=1).sum()
num_columns_missing = data_frame.isnull().any().sum()

print(f"Number of rows with missing values: {num_rows_missing}")
print(f"Number of columns with missing values: {num_columns_missing}")

Number of rows with missing values: 8900
Number of columns with missing values: 4

In [22]:
dtype_options = {'Latitude': str, 'Longitude': str}
data_frame= pd.read_csv('pincode.csv',dtype=dtype_options)
data_frame.head()

,CircleName,RegionName,DivisionName,OfficeName,Pincode,OfficeType,Delivery,District,StateName,Latitude,Longitude
0,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Peddakotla B.O,515631,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.5689,77.85624
1,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Pinnadhari B.O,515631,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.5281,77.857014
2,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Yerraguntapalle B.O,515631,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.561111,77.85715
3,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Obulareddipalli B.O,515581,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.2488,78.2588
4,Andhra Pradesh Circle,Kurnool Region,Hindupur Division,Odulapalli B.O,515581,BO,Delivery,ANANTAPUR,ANDHRA PRADESH,14.24555,78.2477

In [23]:
data_frame.describe

<bound method NDFrame.describe of                    CircleName       RegionName       DivisionName  \
0       Andhra Pradesh Circle   Kurnool Region  Hindupur Division
1       Andhra Pradesh Circle   Kurnool Region  Hindupur Division
2       Andhra Pradesh Circle   Kurnool Region  Hindupur Division
3       Andhra Pradesh Circle   Kurnool Region  Hindupur Division
4       Andhra Pradesh Circle   Kurnool Region  Hindupur Division
...                       ...              ...                ...
157121   Uttar Pradesh Circle  Bareilly Region    Meerut Division
157122   Uttar Pradesh Circle  Bareilly Region    Meerut Division
157123   Uttar Pradesh Circle  Bareilly Region    Meerut Division
157124          Kerala Circle   Calicut Region   Calicut Division
157125          Kerala Circle   Calicut Region   Calicut Division

                 OfficeName  Pincode OfficeType      Delivery   District  \
0            Peddakotla B.O   515631         BO      Delivery  ANANTAPUR
1            Pinnadhari B.O   515631         BO      Delivery  ANANTAPUR
2       Yerraguntapalle B.O   515631         BO      Delivery  ANANTAPUR
3       Obulareddipalli B.O   515581         BO      Delivery  ANANTAPUR
4            Odulapalli B.O   515581         BO      Delivery  ANANTAPUR
...                     ...      ...        ...           ...        ...
157121   Rly Road Meerut SO   250002         PO  Non Delivery     MEERUT
157122           SGMandi SO   250002         PO  Non Delivery     MEERUT
157123          W K Road SO   250001         PO  Non Delivery     MEERUT
157124           Kakkoti SO   673611         PO      Delivery  KOZHIKODE
157125         Kotuvalli SO   673572         PO      Delivery  KOZHIKODE

             StateName    Latitude   Longitude
0       ANDHRA PRADESH     14.5689    77.85624
1       ANDHRA PRADESH     14.5281   77.857014
2       ANDHRA PRADESH   14.561111    77.85715
3       ANDHRA PRADESH     14.2488     78.2588
4       ANDHRA PRADESH    14.24555     78.2477
...                ...         ...         ...
157121   UTTAR PRADESH  28.9800000  77.6800000
157122   UTTAR PRADESH  28.9724000  77.6753600
157123   UTTAR PRADESH  28.9900000  77.7100000
157124          KERALA  11.2452900  75.7784550
157125          KERALA  11.3500000  75.9100000

[157126 rows x 11 columns]>

In [24]:
df=data_frame

# Drop rows with any missing values
df_cleaned = df.dropna()

# Get the size of the cleaned DataFrame
num_rows_cleaned = df_cleaned.shape[0]
num_columns_cleaned = df_cleaned.shape[1]

print(f"Number of rows in cleaned DataFrame: {num_rows_cleaned}")
print(f"Number of columns in cleaned DataFrame: {num_columns_cleaned}")

Number of rows in cleaned DataFrame: 148226
Number of columns in cleaned DataFrame: 11

In [25]:
non_null_counts = df_cleaned.count()

print("Number of non-null values in each column after cleaning:")
print(non_null_counts)

Number of non-null values in each column after cleaning:
CircleName      148226
RegionName      148226
DivisionName    148226
OfficeName      148226
Pincode         148226
OfficeType      148226
Delivery        148226
District        148226
StateName       148226
Latitude        148226
Longitude       148226
dtype: int64

In [26]:
# Print unique values in 'Latitude' and 'Longitude' columns
print("Unique values in 'Latitude':", df_cleaned['Latitude'].unique())
print("Unique values in 'Longitude':", df_cleaned['Longitude'].unique())

Unique values in 'Latitude': ['14.5689' '14.5281' '14.561111' ... '29.1006111' '29.1032777'
 '28.9724000']
Unique values in 'Longitude': ['77.85624' '77.857014' '77.85715' ... '77.2626944' '77.2713333'
 '77.6753600']

In [29]:
# Clean non-numeric values in 'Latitude' and 'Longitude' columns
def clean_numeric_value(value):
    try:
        return float(value)
    except ValueError:
        return None

df_cleaned['Latitude'] = df_cleaned['Latitude'].apply(clean_numeric_value)
df_cleaned['Longitude'] = df_cleaned['Longitude'].apply(clean_numeric_value)

# Drop rows with missing or invalid 'Latitude' or 'Longitude'
df_cleaned = df_cleaned.dropna(subset=['Latitude', 'Longitude'])

# Convert 'Latitude' and 'Longitude' columns to float
df_cleaned['Latitude'] = df_cleaned['Latitude'].astype(float)
df_cleaned['Longitude'] = df_cleaned['Longitude'].astype(float)

print("Successfully cleaned and converted 'Latitude' and 'Longitude' columns:")
print(df_cleaned[['Latitude', 'Longitude']])

Successfully cleaned and converted 'Latitude' and 'Longitude' columns:
         Latitude  Longitude
0       14.568900  77.856240
1       14.528100  77.857014
2       14.561111  77.857150
3       14.248800  78.258800
4       14.245550  78.247700
...           ...        ...
157121  28.980000  77.680000
157122  28.972400  77.675360
157123  28.990000  77.710000
157124  11.245290  75.778455
157125  11.350000  75.910000

[148028 rows x 2 columns]